<!DOCTYPE html>
<html lang="pt">
<head>
    Sistema 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Senha</title>
    <script>
        function voltar() {
            window.location.href = "/";
        }
    </script>
</head>
<body>
    <div>
        Senha atual:
        <br/><%= senha_atual %><br/>
        <button onclick="voltar()">Voltar</button>
    </div>
</body>
</html>